<section class="footer col-md-12 p-5 bg-white">
    <article class="">
        <section class="redes" id="contacto">
            <h3>Redes sociales</h3>
            <hr>
            <p>
                <a href="{{facebook}}" target="_blank" class="btn btn-light"><i class="fa-brands fa-facebook"></i> Facebook</a>
            </p>
            <p>
                <a href="{{tiktok}}" target="_blank" class="btn btn-light"><i class="fa-brands fa-tiktok" style="color: #9141ac;"></i> Tiktok</a>
            </p>
            <!--
            <p>
                <a href="" class="btn btn-light"><i class="fa-brands fa-youtube" style="color: #e01b24;"></i> Youtube</a>
            </p>
            -->
            <p>
                <a href="" class="btn btn-light"><i class="fa-solid fa-envelope-circle-check" style="color: #a51d2d;"></i> {{correo}}</a>
            </p>
        </section>
        <hr>
        <section class="derechos">
            <p><i class="fa-regular fa-copyright" style="color: #000000;"></i> Todos los derechos reservados para <strong>{{nombre}}</strong> </p>
        </section>
    </article>
</section>